site_name: EsTranslator
site_description: A lazy yet bulletproof machine translation tool for Elastichsearch.
repo_name: icij/es-translator
repo_url: https://github.com/icij/es-translator
dev_addr: 0.0.0.0:4000
copyright: Copyright &copy; International Consortium of Investigative Journalists
theme:
  name: material
  font:
    text: Poppins
    code: Noto Sans Mono
  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: icij-light
      toggle:
        icon: octicons/moon-16
        name: "Switch to dark theme"
    - media: "(prefers-color-scheme: dark)"
      scheme: icij-dark
      toggle:
        icon: octicons/sun-16
        name: "Switch to light theme"
  features:
    - content.tabs.link
    - announce.dismiss
    - content.code.copy
    - navigation.footer
    - navigation.top
    - search.highlight
    - search.share
    - search.suggest
    - toc.follow
  icon:
    logo: material/translate-variant
  favicon:
extra_css:
  - stylesheets/extra.css
nav:
  - Home: index.md
  - API Reference: api.md
  - Usage: usage.md
  - Contributing: contributing.md
extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/ICIJ/es-translator
    - icon: fontawesome/brands/python
      link: https://pypi.org/project/es-translator/
    - icon: fontawesome/brands/twitter
      link: https://twitter.com/ICIJorg
plugins:
  - social:
      cards_layout_options:
        background_color: "#000"
        color: "#fff"
  - search
  - autolinks
  - minify:
      minify_html: true
  - exclude:
      glob:
      - __pycache__/*
  - mkdocstrings:
      handlers:
        python:
          paths: [.]
          options:
            separate_signature: true
            filters: ["!^_"]
            docstring_options:
              ignore_init_summary: true
            merge_init_into_class: true
markdown_extensions:
  - tables
  - toc:
      permalink: true
      title: Page contents
  - codehilite:
      guess_lang: false
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.highlight
  - pymdownx.extra
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.tabbed:
      alternate_style: true
      