[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "==8.1"
elasticsearch = ">=7.10,<7.11"
elasticsearch-dsl = ">=7.4.0,<8.0.0"
sh = "==1.14.2"
pycountry = "==22.3.5"
deb-pkg-tools = "==8.4"
nose = "==1.3.7"
coloredlogs = "*"
urllib3 = "==1.26.9"
argostranslate = "==1.7.0"
rich = "==12.4.1"

[dev-packages]
bumpversion = "*"
nose = "*"
nose-watch = "*"
pyyaml = "*"
argh = "*"
twine = "*"

[requires]
python_version = "3.8"
